<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reclamation.rservice.mapper.OwnerMapper">
	<resultMap id="BaseResultMap" type="com.reclamation.rservice.domain.Owner">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="housing_estate_code" property="housing_estate_code" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="idCard" property="idCard" jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="openid" property="openid" jdbcType="VARCHAR" />
		<result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id,name,sex,idCard,tel,housing_estate_code,address,score,openid,create_time
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from owner
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from owner where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.reclamation.rservice.domain.Owner">
		insert into owner
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="idCard != null">
				idCard,
			</if>
			<if test="housing_estate_code != null">
				housing_estate_code,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="openid != null">
				openid,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				#{idCard,jdbcType=VARCHAR},
			</if>
			<if test="housing_estate_code != null">
				#{housing_estate_code,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="score != null">
				#{score,jdbcType=VARCHAR},
			</if>
			<if test="openid != null">
				#{openid,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.reclamation.rservice.domain.Owner">
		update owner
		<set>
			<if test="id != null">
				id = #{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				idCard = #{idCard,jdbcType=VARCHAR},
			</if>
			<if test="housing_estate_code != null">
				housing_estate_code = #{housing_estate_code,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="score != null">
				score = #{score,jdbcType=VARCHAR},
			</if>
			<if test="openid != null">
				openid = #{openid,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				create_time = #{create_time,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="getOwnersByOpenid" resultMap="BaseResultMap">
		select * from owner where openid = #{openid,jdbcType=VARCHAR}
	</select>
	<select id="selectOwnerNameById" resultType="java.lang.String">
		select name
		from owner
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="getCategoryName" resultType="java.lang.String">
		select dict_text from sys_dict where dict_option = #{dict_option,jdbcType=VARCHAR}
	</select>
</mapper>